In [6]:
import scipy.stats as sts
from scipy.stats import norm
import math
import numpy as np
import pandas as pd

### Problem Statement 1:

#### Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table: Question: Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained ?


|observed |High School  | Bachelors | Masters | Ph.d  | Total |
|---------|:-----------:|:---------:|:-------:|:-----:|:------|
|Female   |     60      |    54     |   46    |  41   |  201  |
|Male     |     40      |    44     |   53    |  57   |  194  |
|Total    |    100      |    98     |   99    |  98   |  395  |   <br>


|observed |High School  | Bachelors | Masters | Ph.d  | 
|---------|:-----------:|:---------:|:-------:|:-----:|
|Female   |     51      |    50     |   50    |  50   | 
|Male     |     49      |    48     |   49    |  48   | <br>

$H_{0}$=Education is gender independent   <br>

$H_{1}$=Education is gender dependent   <br>


Calculation using chi square test;    <br>

$X^2 $ = $\sum \frac {(Observed-Expected)^2}{Expected} $    <br>

$X^2 $ = $ \frac {(60-51)^2}{51} + \frac {(40-49)^2}{49} + \frac {(54-50)^2}{50} + \frac {(44-48)^2}{48} + \frac {(46-50)^2}{50}  + \frac {(53-49)^2}{49}  + \frac {(41-50)^2}{50} + \frac {(57-48)^2}{57} $  =  7.582   <br>

$X^2_{0.05} $ at degree of freedom=(4-1)(2-1)=3 will be = 7.815   <br>

$X^2_{test} $  <   $X^2_{0.05}$  <br>

Result: Accept Null Hypothesis(Education is Independent of Gender)

In [2]:
f_list = [60,54,46,41]
m_list = [40,44,53,57]
s = [40,60]
b = [44,54]
m = [53,46]
p = [57,41]
marks = m_list + f_list
print(marks)
sex =  ['Male','Male','Male','Male','Female','Female','Female','Female']
edu = ['High School', 'Bachelors', 'Masters', 'Ph.d.','High School', 'Bachelors', 'Masters', 'Ph.d.']
df_edu = pd.DataFrame({"Sex":sex,"Edu":edu,"Marks":marks})

#df_edu = df_edu[['Sex','High School', 'Bachelors', 'Masters', 'Ph.d.']]

#df_edu['Row_total'] = row_list
print(df_edu)
cross_tab = pd.crosstab([df_edu.Sex,df_edu.Marks],df_edu.Edu,margins=True)

[40, 44, 53, 57, 60, 54, 46, 41]
      Sex          Edu  Marks
0    Male  High School     40
1    Male    Bachelors     44
2    Male      Masters     53
3    Male        Ph.d.     57
4  Female  High School     60
5  Female    Bachelors     54
6  Female      Masters     46
7  Female        Ph.d.     41

In [3]:
df2 = pd.crosstab(df_edu.Sex, df_edu.Edu,df_edu.Marks, aggfunc="sum",margins=True)

df2.columns = ["Bachelors","High School","Masters","Ph.d.","row_totals"]

df2.index = ["Female","Male","col_totals"]

df2

            Bachelors  High School  Masters  Ph.d.  row_totals
Female             54           60       46     41         201
Male               44           40       53     57         194
col_totals         98          100       99     98         395

In [4]:
observed = df2.iloc[0:2,0:4]   # Get table without totals for later use
observed

        Bachelors  High School  Masters  Ph.d.
Female         54           60       46     41
Male           44           40       53     57

In [5]:
For a test of independence, we use the same chi-squared formula that we used for the goodness-of-fit test.
The main difference is we have to calculate the expected counts of each cell in a 2-dimensional table instead of a 1-dimensional table.
To get the expected count for a cell, multiply the row total for that cell by the column total for that cell
and then divide by the total number of observations.

We can quickly get the expected counts for all cells in the table by taking the row totals and column totals of the table,
performing an outer product on them with the np.outer() function and dividing by the number of observations:

SyntaxError: invalid syntax (<ipython-input-5-964378acaa71>, line 1)

In [ ]:
expected =  np.outer(df2["row_totals"][0:2],
                     df2.loc["col_totals"][0:4]) / 395.0
expected = pd.DataFrame(expected)
expected.columns = ["Bachelors","High School","Masters","Ph.d."]
expected.index = ["Female","Male"]
expected

In [ ]:
calculate the chi-square statistic, the critical value and the p-value:

*Note: We call .sum() twice: once to get the column sums and a second time to add the column sums together, returning the sum of the entire 2D table.

In [ ]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

In [ ]:
*Note: The degrees of freedom for a test of independence equals the product of the number of categories in each variable minus 1. In this case we have a 2x4 table so df = 1x3 = 3.

In [ ]:
crit = sts.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 3)   # *

print("Critical value")
print(crit)

p_value = 1 - sts.chi2.cdf(x=chi_squared_stat, df=3)  # Find the p-value
                            
print("P value")
print(p_value)

In [ ]:
Use stats.chi2_contingency() function to conduct a test of independence automatically given a frequency table of observed counts:

In [ ]:
sts.chi2_contingency(observed= observed)

In [ ]:
* The output shows the chi-square statistic = 8, the p-value as 0.045 and the degrees of freedom as 3 followed by the expected
counts. The critical value with 3 degree of freedom is 7.815. Since 8.006 > 7.815,
therefore we reject the null hypothesis and conclude that the education level depends on gender at a 5% level of significance.

#### Problem Statement 2: Using the following data, perform a oneway analysis of variance using α=.05. Write up the results in APA format. [Group1: 51, 45, 33, 45, 67] [Group2: 23, 43, 23, 43, 45] [Group3: 56, 76, 74, 87, 56].

|              |  Group 1  |   Group 2   |   Group 3  | $(S1-\bar S)^2$|$(S2-\bar S)^2$|$(S3-\bar S)^2$|
|--------------|:---------:|:-----------:|:----------:|:--------------:|:-------------:|:--------------|
|              |    51     |     23      |     56     |     6.25       |    153.76     |     190.44    |
|              |    45     |     43      |     76     |     10.24      |     57.6      |      38.44    |
|              |    33     |     23      |     74     |    231.04      |    153.76     |      17.64    |
|              |    45     |     43      |     87     |     10.24      |     57.6      |     295.84    |
|              |    67     |     45      |     56     |    353.44      |     92.16     |     190.44    |   
|Mean $\bar S$ |    48.2   |     35.4    |     69.8   |total= 611.21   |total=514.88   |total=732.8    | 
|Grand Mean    |    51.1   |             |            |                |               |               | <br>

$mean_{within}$ = $\sum \frac {(S_{i}-\bar S)^2}{n_{1}+n_{2}+n_{3}-3} $    <br>

$mean_{within}$ =  $\sum \frac {(1858.89)}{15-3} $   =   154.9   <br>

$mean_{between} $ = $\sum n_{i} * (\bar S - \bar S_{g})^2 $      <br>

$mean_{between} $ = $\frac {5*(48.2 -51.1)^2 + 5*(35.4-51.1)^2 + 5*(69.8- 51.1)^2 } {3-1} $ =1503.65 <br>

$f_{test} $= $\frac {1503.65} {154.9} $   =    9.707    <br>

$S.S_{total}$ = 1858 + 3007.3 = 4865.3 ----------------(i)  <br>

$\eta^2 $ = $\frac {3007.3} {4865.3} $ = 0.618   <br>

now we will find  $f_{0.05}$ at degree of freedom = (15-3) =  12  will be = 3.8853    <br>

Result in APA format; <br>

f(2,12) = 3.8853 , $\eta^2 $ = 0.618 at  p < 0.05

In [ ]:
#The analysis of variance or ANOVA is a statistical inference test that lets you compare multiple groups at the same time.
#The one-way ANOVA tests whether the mean of some numeric variable differs across the levels of one categorical variable. 
#It essentially answers the question: do any of the group means differ from one another? 

#The scipy library has a function for carrying out one-way ANOVA tests called scipy.stats.f_oneway()

Group1 = [51, 45, 33, 45, 67]
Group2 = [23, 43, 23, 43, 45]
Group3 = [56, 76, 74, 87, 56]

# Perform the ANOVA
statistic, pvalue = sts.f_oneway(Group1,Group2,Group3)
print("F Statistic value {} , p-value {}".format(statistic,pvalue))
if pvalue < 0.05:
    print('True')
else:
    print('False')

In [ ]:
* Note: The test result suggests the groups don't have the same sample means in this case,
    since the p-value is significant at a 99% confidence level. Here the p-value returned is 0.00305 which is < 0.05

### Problem Statement 3 :-

Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25. For 10, 20, 30, 40, 50


|               |  Group 1  |   Group 2   | $(S1-\bar S)^2$  | $(S2-\bar S)^2$|
|--------------:|:---------:|:-----------:|:---------------: |:-------------: |
|               |    10     |     5       |     400          |     100        |
|               |    20     |     10      |     100          |      25        |     
|               |    30     |     15      |       0          |       0        |    
|               |    40     |     20      |     100          |      25        | 
|               |    50     |     25      |     400          |     100        |
|Mean $\bar S$  |    30     |     15      |                  |                |
|Grand Mean     |    22.5   |             |                  |                |   <br>



$mean_{within}$ = $\sum \frac {(S_{i}-\bar S)^2}{n_{1}+n_{2}-2} $    <br>

$mean_{within}$ =  $\sum \frac {(1250)}{10-2} $   =   156.25   <br>

$mean_{between} $ = $\sum n_{i} * (\bar S - \bar S_{g})^2 $      <br>

$mean_{between} $ = $\frac {5*(30 -22.5)^2 + \frac {5*(15 -22.5)^2 = 562.5 <br>

$f_{test} $= $\frac {562.5} {156.25} $   =    3.6    <br>

In [ ]:
sts.f_oneway([10, 20, 30, 40, 50],[5,10,15, 20, 25])

In [ ]:
Group1 = [10, 20, 30, 40, 50]
Group2 = [5,10,15, 20, 25]

mean_1 = np.mean(Group1)
mean_2 = np.mean(Group2)

grp1_sub_mean1 = []
grp2_sub_mean2 = []
add1 = 0
add2 = 0
for items in Group1:
    add1 += (items - mean_1)**2
for items in Group2:
    add2 += (items - mean_2)**2
var1 = add1/(len(Group1)-1)
var2 = add2/(len(Group2)-1)

F_Test = var1/var2
print("F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : ",F_Test)